.min-vh-100{
  min-height: 100vh;
  background-color: #E5E5E5;
}

.card {
  border: none;
  border-radius: 1rem;
  background-color: transparent;
}

.blurred-image{
  filter: blur(1px);
  background-color: transparent;
}

.white-box{
  background-color: white;
  border-radius: 1rem;
}

.lead{
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}

.custom-button{
  background-color:#05143F;
  border:none;
  color:#fff;
}

.custom-button:hover{
  background-color:#040fb1;
}
